* {
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

.blog {
  font-family: Arial;
  padding: 20px;
  background: #ffffff;
  padding: 0px 15% 0px 15%;
}

.top-bar {
  font-family: Arial;
  margin-top: -15px;
}

.top-bar ul {
  list-style-type: none;
  background-color: rgb(240, 240, 240);
  padding: 6px 0px 6px 75%;
  
}

.top-bar a:hover {
  text-decoration: underline;
}

.top-bar li {
  display: inline;
}

.top-bar a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 0px 10px 0px 10px;
}

----

----

nav {
  padding: 0px;
  font-family: Arial;
}

nav ul {
  list-style-type: none;
  background-color: rgb(72, 77, 221);
  padding: 16px 0px 16px 15%;
  
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  display: inline;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: white;
  padding: 0px 10px 0px 10px;
}

hr {
  width: 75%;
  color: black;
}

.header {
  padding: 5px;
  /* font-size: 35px; */
  text-align: center;
  background: white;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  max-height: 500px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}


